{% extends "base.html" %}
{% block body %}
    <div class=" mx-auto grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-6 max-lg:grid-cols-1">
        <div class="grid grid-rows-subgrid row-span-5 backdrop-blur-lg bg-surface-1/10 border border-brand/20 rounded-3xl shadow-2xl justify-center items-center text-center p-4">
            <h1 class="text-3xl text-brand font-bold mb-4 text-center">{{ playlist.title }}</h1>
            <p class="mb-4 flex justify-center items-center space-x-2 text-sm max-xs:flex-col">
                <span>Owned by</span>
                <a href="{% url 'user-profile' username=playlist.user.username %}"
                   class="underline hover:text-brand">{{ playlist.user.username }}</a>
                <span>·</span>
                <span>{{ playlist.artists.all|length }} artist{{ playlist.artists.all|length|pluralize }}</span>
                <span>·</span>
                {% if playlist.is_public %}
                    <span class="flex items-center space-x-1">
                        <span>🌍</span>
                        <span>Public</span>
                    </span>
                {% else %}
                    <span class="flex items-center space-x-1">
                        {% include "svgs/lock.svg" with class="size-4" %}
                        <span>Private</span>
                    </span>
                {% endif %}
            </p>
            {% if playlist.artists.all %}
                <div class="grid grid-cols-1 justify-center items-center gap-4">
                    {% for artist in playlist.artists.all %}
                        <div class="backdrop-blur-lg bg-surface-1/10 border border-brand/20 rounded-3xl shadow-2xl p-4">
                            <a href="{% url 'artist-detail' pk=artist.pk %}"
                               class="text-lg text-brand font-semibold hover:underline">{{ artist.name }}</a>
                            <p class="text-sm">Producer: {{ artist.producer.name }}</p>
                            <p>⭐ {{ artist.avg_rating|default:"0"|floatformat:1 }} ({{ artist.num_ratings }})</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No artists in this playlist.</p>
            {% endif %}
            <div class="mt-6 flex flex-wrap justify-center items-center gap-4 max-sm:flex-col text-center">
                {% if request.user == playlist.user %}
                    <a href="{% url 'playlist-update' pk=playlist.pk %}"
                       class="px-4 py-2 min-w-[130px] rounded-2xl bg-brand/80 hover:bg-brand/30 text-white font-medium shadow-md transition duration-300 ease-in-out max-sm:text-xs text-center">
                        Edit
                    </a>
                    <a href="{% url 'playlist-delete' pk=playlist.pk %}"
                       class="px-4 py-2 min-w-[130px] bg-red-500/80 text-white rounded-2xl font-medium shadow-md hover:bg-red-500/30 transition duration-300 ease-in-out max-sm:text-xs text-center">
                        Delete
                    </a>
                {% endif %}
                <a href="{% url 'public-playlist-list' %}"
                   class="px-4 py-2 min-w-[130px] bg-surface-4/80 rounded-2xl font-medium shadow-md transition hover:bg-surface-4/30 duration-300 ease-in-out max-sm:text-xs text-center whitespace-nowrap">
                    Back to Playlists
                </a>
            </div>
        </div>
    </div>
{% endblock body %}
