{% extends "base.html" %}
{% load static %}
{% block body %}
    <div class="flex items-center justify-center bg-surface">
        <div class="max-w-lg w-full p-10 backdrop-blur-lg bg-surface-1/10 border border-brand/20 rounded-3xl shadow-2xl text-center">
            <div class="flex justify-center mb-6">{% include "svgs/favelamusic.svg" with class="h-20 w-auto" %}</div>
            <h1 class="text-2xl font-semibold mb-2">Check your email</h1>
            <p class="text-sm text-brand/40 mb-6">If your email is in our system, we’ve sent a password reset link to it.</p>
            <p class="text-xs text-text-1/70 mb-6">Didn’t receive anything? Be sure to check your spam folder, or try again.</p>
            <a href="{% url 'account_login' %}" class="btn w-full">Back to Login</a>
        </div>
    </div>
{% endblock body %}
